@import "/src/styles/main.scss";

.layout {
  // position: fixed;
  // overflow-y: scroll;
  // max-height: 100vh;
  .children {
    // position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    height: calc(100vh - 9.1rem);
    width: 100vh;
  }
}
