@import "/src/styles/main.scss";

header {
  background: black;
  height: 9.1rem;
  @include flex();
  .headerElements {
    gap: 14.9rem;
    display: grid;
    grid-template-columns: auto 1fr;
    @include section-center;
    .navigation {
      color: white;
      .navigationList {
        @include flex(row, space-between, center);
        height: 100%;
        .navigationItem {
          & a {
            text-decoration: none;
            color: white;
          }
        }
      }
    }
  }
}
